.footer {
    color: $white;
    background: linear-gradient(to right, $oxford-blue, $blue-ncs);
    width: 100%;
    text-align: center;
    padding: 1.5rem 0;

    &__text {
        font-family: inherit;
        font-size: 1.8rem;
        font-weight: bold;

        .author {
            padding: 0.5rem;
            border: 1px solid transparent;
            display: inline-block;
            transition: all 0.2s;
            user-select: none;

            &:hover {
                border: 1px solid $blue-ncs;
                transform: rotate(-5deg) scale(1.01);
                box-shadow: 0 0.1rem 1rem 0.1rem $black;
            }
        }
    }
}
