.nav {
    font-size: 2.8rem;
    font-weight: bold;
    color: $black;

    &__menu {
        @include flexy(space-around, center);
    }

    &__item {
        padding: 0.4rem 0.8rem;
        list-style: none;
        background-color: $white;
        margin: 0 1rem;
        border-radius: 0.5rem;
        transition: all 0.5s;
        user-select: none;
        cursor: pointer;

        &:hover {
            outline: 0.3rem solid $oxford-blue;
            outline-offset: 0.4rem;
            transform: scale(1.04);
            background-color: $oxford-blue;
            color: $white;
        }
    }
}
